#app-header .securesite {text-align: right;}
#app-header .securesite img {width:30px;margin:10px;}
#breadcrumb-bar .glyphicon-home {margin-right: 5px;}
#maincontent button.multiselect {line-height: 20px;padding:6px 12px !important;}
.form-inline .input-group {width: 100%;}
.tixno a {text-decoration: underline;}
#maincontent form .panel-body, #maincontent .grid-table tr td {background-color:#f5f5f5; border-radius:5px;}
#maincontent span.glyphicon {margin-right:3px;}
#maincontent .grid-object {padding: 15px;}
#maincontent table.grid-table {font-size: .9em;}
#maincontent table.grid-table button {padding: 3px 9px;}
#maincontent table.grid-table th {padding:5px; line-height:38px; color: black; font-weight: normal; border-bottom: 1px solid #aaa;}
#maincontent table.grid-table td {padding:5px; border-bottom: 1px solid #aaa;}
#maincontent h4.grid-title {border-bottom:2px solid #000; olor: black; font-size: 1em;}
#maincontent .text-right {text-align:right;}
#maincontent .text-left {text-align:left;}
#maincontent h1, #maincontent h2 {color: #337cbb;}
#maincontent .table-responsive {margin:0px 10px;}
#maincontent .btn-group button {margin:0px;}
#maincontent .entryField {position: relative;}
#maincontent .panel-heading h3 {margin:0px;}
#cot-header {margin-bottom: 15px;border-bottom:2px solid #999;}
#cot-header .blue {padding-top: 0px;background-color: #346488;}
#cot-header form.form-inline[role=search] legend {padding: 0px; margin:0px;border-bottom:0px;font-size: 1em;}
#app-header {padding: 0px; margin:0px;}
#app-header h1 {font-size: 2.5em;padding: 10px 0px;margin:0px;color: black;}
#app-header .glyphicon-lock {font-size: 2em; padding: 10px; margin:0px; color: yellow;} 
#app-breadcrumb .breadcrumb {margin:0px;}
#cot-terms-title h2 {margin:5px 0px;}
#maincontent form a {text-decoration:underline; color: blue;}
#maincontent form .dropdown-menu .active a {text-decoration:underline; color: white;}
#maincontent form .dropdown-menu a {text-decoration: none; color: #666;}
#maincontent .componentTitle {background-color: #ddd;}
#maincontent {margin-bottom: 50px;}
#maincontent ul {margin:10px;}
#maincontent .btn-group {display:block;}
#maincontent input[type="radio"],#maincontent input[type="checkbox"] {width:20px; min-width:0; box-shadow:none; display: inline-block; height:15px;} 
#maincontent .horizontal {padding: 0px 10px;display: inline-block;}
#maincontent .form-group  {margin-bottom:25px;}
#maincontent textarea {display:block; width:100%; height:70px;}
#maincontent button {margin:5px;}
#maincontent .staticlabel {font-weight: bold;margin:0px;}
#maincontent .helptext {font-style: italic; margin:0px;color:#888;}
#maincontent .optional {margin-left:5px; font-weight: normal; color:#666;}
#appDisplay .form-control-feedback {top: 0px;margin-right:10px;}
#maincontent .intl-tel-input {display:block;}
#appDisplay .intl-tel-input .form-control-feedback  {top:0px;}
#maincontent .form-control {height:auto;}
#maincontent .intl-tel-input ul {list-style-type: none; padding: 0px; overflow-y: auto; margin:0px;}
/*DATE PICKER*/
.bootstrap-datetimepicker-widget ul li {list-style: none;}
.bootstrap-datetimepicker-widget  ul {padding:0px !important; }
.bootstrap-datetimepicker-widget table {width:100%; margin:0px !important; padding:0px !important;}
.bootstrap-datetimepicker-widget table td {margin:0px !important; padding:0px !important; text-align: center !important; vertical-align: middle !important;border: 1px solid #ccc;}
.bootstrap-datetimepicker-widget table tr {margin:0px !important; padding:0px !important; text-align: center;}
.bootstrap-datetimepicker-widget table th {margin:0px !important; padding:3px !important; text-align: center !important; border: 1px solid #ccc; color: black !important;}
.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover {font-weight: normal; color: #990000 !important; text-decoration: line-through;}
.bootstrap-datetimepicker-widget table td span,
.bootstrap-datetimepicker-widget table td span:hover {color: black; font-weight: bold;}
/*BUTTON BAR */
#maincontent #buttonbar .btn-bar {margin-top: 20px;}
#maincontent #buttonbar button  {min-width: 120px;}
#maincontent #buttonbar  button .buttontext {margin:0px 5px;}
#maincontent #buttonbar .navbar .nav-pills {margin:0px; padding: 0px;}
#maincontent #buttonbar .navbar li {margin-right: 10px;text-align: center; min-width:130px; background-color: #eee; border:1px solid #ccc; border-radius:5px;}
#maincontent #buttonbar .navbar li.active a:hover {background-color: #337ab7 !important;}
#maincontent #buttonbar .navbar li p {margin: 0px;}
#maincontent #buttonbar .navbar li .btntitle {}
#maincontent #buttonbar .navbar li .btndesc {font-size: .85em;}
